keras==3.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.9.1.post1
matplotlib-inline==0.1.7
ml-dtypes==0.4.0
notebook==7.2.1
notebook_shim==0.2.4
np-utils==0.6.0
numpy==1.26.4
pandas==2.2.2
pandocfilters==1.5.1
scikit-learn==1.5.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
tf_keras==2.17.0